.git
.idea
.vscode

apps/api/vendor
apps/api/.env
apps/api/storage/logs
apps/api/storage/framework/cache
apps/api/storage/framework/sessions
apps/api/storage/framework/testing
apps/api/storage/framework/views

apps/web/node_modules
apps/web/dist

node_modules
*.log

